<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login_big">
    <div class="title"><h1>Login</h1></div>
    <div class="login_div">
        <div class="form-group">
            <label class="username_label" name="username_label">Username：</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>

        <div class="form-group">
            <label class="password_label" name="password_label">Password：</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-default">Login</button>
    </div>


</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>