
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bowen.blog.dao.BlogMapper" >
    <resultMap id="BaseResultMap" type="com.bowen.blog.model.Blog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="writer" property="writer" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="public_date" property="publicDate" jdbcType="DATE" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="review_count" property="reviewCount" jdbcType="INTEGER" />
        <result column="blog_mark_down" property="blogMarkDown" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select * from person where id = #{id}
    </select>

</mapper>